@using AccessManagement.Models
@model List<ModuleModel>
@{
    ViewData["Title"] = "Roles";
}
<style>
    table {
        border-collapse: collapse;
    }

        table td {
            padding: 5px;
            text-align: center;
            border: 1px solid black;
        }
</style>
<table>
    <tr>
        <td>زیرسیستم</td>
        <td>نقش ها</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>
                @foreach (var ac in item.Actions)
                {
                <form action="/UserManagement/SetRole" method="post">
                    <input type="hidden" name="userId" value="@(ViewBag.UserId)" />
                    <input type="hidden" name="actionName" value="@(ac.TitleEn)" />
                    <input type="hidden" name="controllerName" value="@item.TitleEn" />
                    <input type="hidden" name="actionTitle" value="@(ac.Title)" />
                    <input type="hidden" name="controllerTitle" value="@item.Title" />
                    @if (ac.HasPermision)
                    {
                        <input type="hidden" name="permision" value="false" />
                        <input type="submit" value="@ac.Title" style="color:white;background-color:green;" />
                    }
                    else
                    {
                        <input type="hidden" name="permision" value="true" />
                        <input type="submit" value="@ac.Title" style="color:white;background-color:red;" />
                    }

                </form>
                }
            </td>
        </tr>
    }
</table>

